
<h1 class="m-3">Blog</h1>

<div class="container text-center mt-5">
  <h3 class="mb-4">Registration</h3>

  <%= form_with model: @user, url: register_path, local: true do |form| %>
    
    <div class="mb-3 text-start">
      <%= form.label :username, "Username", class: "form-label" %>
      <%= form.text_field :username, class: "form-control", placeholder: "Enter username" %>
    </div>
    <div class="mb-3 text-start">
      <%= form.label :email, "Email", class: "form-label" %>
      <%= form.email_field :email, class: "form-control", placeholder: "Enter email" %>
    </div>
    <div class="mb-3 text-start">
      <%= form.label :password, "Password", class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: "Enter password" %>
    </div>
    <div class="mb-3 text-start">
      <%= form.label :password_confirmation, "Confirm Password", class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
    </div>

    <div class="mt-3">
      <%= form.submit "Register", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>