<% if Current.user %>
  <h1 class="display-4 m-4">Welcome back, <%= Current.user.username %>!</h1>
<% else %>
  <h1 class="display-4 m-4">Hello, Guest!</h1>
<% end %>

<div class="container mt-4 mb-4 ml-4 mr-4">
    <p>
      <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add a post
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= form_with model: @blogpost, url: new_post_path, local: true do |form| %>
    
    <div class="mb-3 text-start">
      <%= form.label :blogtitle, "Title", class: "form-label" %>
      <%= form.text_field :blogtitle, class: "form-control", placeholder: "Enter title" %>
    </div>

    <div class="mb-3 text-start">
      <%= form.label :blockbody, "Content", class: "form-label" %>
      <%= form.text_area :blockbody, class: "form-control", placeholder: "Enter content" %>
    </div>

    <div class="mt-3">
      <%= form.submit "Add Post", class: "btn btn-primary" %>
    </div>

    <% end %>

      </div>
    </div>
</div>
<h2 class="mt-4">Your Posts</h2>
<%= form_with url: search_posts_path, method: :get, local: true do |form| %>
  <div class="form-group m-2 ms-4 w-50">
    <%= form.label :search, "Search Posts" %>
    <%= form.text_field :search, class: "form-control" %>
  </div>
  <%= form.submit "Search Posts", class: "btn btn-primary mt-2 ms-4" %>
<% end %>    
<div class="container mt-4 mb-4 ml-4 mr-4">
  <% if @blogs.any? %>
    <ul class="list-group">
      <% @blogs.each do |blog| %>
        <li class="list-group-item">
          <h5><%= truncate(blog.blogtitle, length: 80) %></h5>
          <p><%= truncate(blog.blockbody, length: 150) %></p>
          <%= button_to "Delete", delete_posts_path(blog), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </li>
      <% end %>
    </ul>

  <% end %>
</div> 